fastapi==0.138.0
email-validator==2.2.0
uvicorn[standard]==0.32.1
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.3.0
python-dotenv==1.2.2
python-multipart==0.0.32
slowapi==0.1.9
gunicorn==23.0.0
alembic==1.14.1
stripe==15.2.0
